

/***********************[ HOME ]*************************/
.home {
  display: flex;
  height: calc(100vh - 62px);
  box-sizing: border-box;
  position: relative;
}

/***********************[ HOME-MAIN ]*************************/
.home__main-section {
  margin-top: 20px;
  margin-right: 50px;
  margin-bottom: 20px;
  margin-left: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  transition: margin-right 500ms;
}
.home__main-section--open {
  margin-right: 270px;
  transition: margin-right 500ms;
}

/***********************[ HOME-MAIN-HEAD ]*************************/
.home__head {
  border: thin solid var(--surface);
  border-radius: 10px;
  min-height: 60px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.home__wrap {
  margin: 0 2vw;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home__search {
  height: 100%;
  flex-basis: 30%;
  display: flex;
  align-items: center;
}
.search__button {
  border-top: thin solid var(--surface);
  border-right: none;
  border-bottom: thin solid var(--surface);
  border-left: thin solid var(--surface);
  background-color: var(--background);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 30px;
  width: 45px;
  outline: none;
  font-size: 0.7rem;
}
.search__input {
  border: thin solid var(--surface);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 30px;
  padding-left: 5px;
  flex-grow: 1;
  box-sizing: border-box;
  outline: none;
  font-size: 0.9rem;
}

.home__filters {
  border: thin solid var(--surface);
  border-radius: 5px;
  flex-basis: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.filters__button {
  border: thin solid var(--surface);
  height: 30px;
  width: 30px;
  outline: none;
  padding: 0;
  font-size: 0.7rem;
}

.home__buttons {
  flex-basis: 20%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.buttons__button {
  border: thin solid var(--surface);
  border-radius: 50%;
  height: 30px;
  width: 30px;
  outline: none;
}

/***********************[ HOME-MAIN-MAIN ]*************************/
.home__main {
  border: thin solid var(--surface);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  flex-grow: 1;
  min-height: 210px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: auto;
}
.home__main::-webkit-scrollbar-track {
  margin: 10px 0;
  border-radius: 15px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--tertiary);
}
.home__main::-webkit-scrollbar {
  margin: 10px 0;
  width: 10px;
  background-color: none;
}
.home__main::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: var(--background);
  border: 2px solid var(--surface);
}
.home__card {
  border: thin solid var(--surface);
  border-radius: 5px;
  height: 200px;
  width: 180px;
  padding: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.home__image {
  border: thin solid var(--surface);
  border-radius: 5px;
  height: 120px;
  transition: transform 200ms ease-in-out;
}
.home__image:hover {
  transform: scale(1.1);
}
.home__image img {
  border-radius: 5px;
}
.home__image iframe {
  border-radius: 2px;
  box-sizing: border-box;
  width: 178px;
  height: 120px;
}
.home__content {
  border: thin solid var(--surface);
  border-radius: 5px;
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: height 200ms;
}
.home__content::-webkit-scrollbar-track {
  border-radius: 15px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--tertiary);
}
.home__content::-webkit-scrollbar {
  width: 8px;
  background-color: none;
}
.home__content::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: var(--background);
  border: 2px solid var(--surface);
}
.home__content:hover {
  overflow-y: scroll;
}
.home__content p {
  padding: 4px;
  margin: 0;
}
.home__action {
  border: thin solid var(--surface);
  border-radius: 5px;
  height: 20px;
}
.home__action a {
  text-align: center;
  text-decoration: none;
  display: block;
}

/***********************[ HOME-MAIN-FOOT ]*************************/
.home__foot {
  border: thin solid var(--surface);
  border-radius: 10px;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/***********************[ HOME-SIDE ]*************************/
.home__sidebar {
  border-left: thin solid var(--surface);
  position: fixed;
  width: 250px;
  right: -220px;
  top: 62px;
  bottom: 0;
  background-color: var(--primary);
  box-shadow: 0 2px 10px 2px;
  overflow-y: auto;
  transition: right 500ms;
}
.home__sidebar--open .sidebar__btn {
  height: 30px;
  background-color: var(--background);
  transition: background 500ms;
}
.home__sidebar--open .sidebar__btn-text {
  transform: rotate(0);
}
.home__sidebar::-webkit-scrollbar-track {
  margin-top: 32px;
  border-radius: 15px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--tertiary);
}
.home__sidebar::-webkit-scrollbar {
  margin-top: 32px;
  width: 10px;
}
.home__sidebar::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: var(--background);
  border: 2px solid var(--surface);
}
.sidebar__header {
  display: flex;
  height: 30px;
}
.sidebar__btn {
  border: none;
  width: 30px;
  height: 100vh;
  background-color: var(--primary);
  outline: none;
  z-index: 10;
  cursor: pointer;
  transition: height 500ms, background 500ms;
}
.sidebar__btn-text{
  transform: rotate(90deg);
}
.sidebar__head {
  margin: 0;
  flex-grow: 1;
  line-height: 30px;
  text-align: center;
}
.sidebar__content {
  border-top: thin solid var(--surface);
  border-bottom: thin solid var(--surface);
  background-color: var(--background);
}
.sidebar__tweets {
  border: thin solid var(--surface);
  background-color: var(--secondary);
  margin: 10px;
  padding: 10px;
}
.sidebar__tweets p {
  background-color: var(--tertiary);
  border: thin solid var(--surface);
}
.sidebar__name {
  margin: 0;
}
.home__sidebar .sidebar__content {
  opacity: 0;
  transition: opacity 500ms;
}
.home__sidebar--open {
  right: 0;
  transition: right 500ms;
}
.home__sidebar--open .sidebar__content {
  opacity: 1;
  transition: opacity 500ms;
}

/***********************[ HOME-PROFILE ]*************************/
.profile {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  transition: right 500ms;
}
.profile--sideOpen {
  right: 250px;
}
.profile--closed {
  display: none;
}
.profile__container {
  padding: 20px;
  border: thick solid var(--surface);
  border-radius: 15px;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile__button {
  margin-top: 10px;
}
.profile__form {
  display: flex;
  flex-direction: column;
}
.profile__input-one,
.profile__input-two {
  margin-top: 10px;
}
